<article class="post">
    <header>
        <h2 class="post__title">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, voluptates voluptatem totam est
            magni laudantium odio, aspernatur ullam deserunt laborum optio quod, omnis nihil unde magnam deleniti
            perspiciatis nam
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat dolorum tempore aliquid adipisci cum provident
        eligendi fuga totam dolor excepturi deserunt, quis asperiores incidunt assumenda debitis aspernatur! Maxime,
        vero aspernatur.
    </div>
</article>