{% extends 'base.html' %}

{% block 'tilulo' %}Sobre - Nova pagina{% endblock  %}

{% block 'conteudo' %}
    <h1>Conteúdo Sobre - Nova pagina.</h1>
{% endblock  %}

{% block 'segundo_conteudo' %}
    <h2>Primeiro conteúdo</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae maiores aperiam dicta harum odit eos? Corrupti minima itaque iure! Veritatis incidunt eius rerum! Unde recusandae voluptatibus est fuga repellat accusantium.
    </p>
    <h2>Segundo conteúdo</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae maiores aperiam dicta harum odit eos? Corrupti minima itaque iure! Veritatis incidunt eius rerum! Unde recusandae voluptatibus est fuga repellat accusantium.
    </p>
{% endblock  %}